@model MvcOffice.Models.TimeSetAlarm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TimeSetAlarm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlarmName" class="control-label"></label>
                <input asp-for="AlarmName" class="form-control" value="2022/12/30" />
                <span asp-validation-for="AlarmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="baoming" class="control-label"></label>
                <input asp-for="baoming" class="form-control" value="2022/12/30 7:00:00" />
                <span asp-validation-for="baoming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="signupTime" class="control-label"></label>
                <input asp-for="signupTime" class="form-control" type="datetime" value="10/27/2021 3:14:56 PM" />
                <span asp-validation-for="signupTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="payTime" class="control-label"></label>
                <input asp-for="payTime" class="form-control" type="datetime" value="10/27/2021 3:14:56 PM" />
                <span asp-validation-for="payTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="printTime" class="control-label"></label>
                <input asp-for="printTime" class="form-control" type="datetime" value="10/27/2021 3:14:56 PM" />
                <span asp-validation-for="printTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="writtenExaminationTime" class="control-label"></label>
                <input asp-for="writtenExaminationTime" class="form-control " type="datetime" value="2022/12/31 07:00" />
                <span asp-validation-for="writtenExaminationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewTime" class="control-label"></label>
                <input asp-for="InterviewTime" class="form-control" type="datetime" value="2022/1/31" />
                <span asp-validation-for="InterviewTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hysicalExaminationTime" class="control-label"></label>
                <input asp-for="hysicalExaminationTime" class="form-control" type="datetime" value="2022/2/12" />
                <span asp-validation-for="hysicalExaminationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposedAdmissionTime" class="control-label"></label>
                <input asp-for="ProposedAdmissionTime" class="form-control" type="datetime" value="2022/2/14" />
                <span asp-validation-for="ProposedAdmissionTime" class="text-danger"></span>
            </div>
            @*添加type后 value的值会自动转变为type类型*@
            <div class="form-group">
                <label asp-for="ReportingTime" class="control-label"></label>
                <input asp-for="ReportingTime" class="form-control" type="datetime" value="2022/3/12" />
                <span asp-validation-for="ReportingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
